
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" width="40" height="40">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
                <i class="material-icons md-dark">home</i>
              Home
            </a>
      
            <a class="navbar-item">
                <i class="material-icons md-dark">explore</i>
              Explore
            </a>
            
            <a class="navbar-item">
                <i class="material-icons md-dark">notifications</i>
                Notification
              </a>
              <a class="navbar-item">
                <i class="material-icons md-dark">mail</i>
                Inbox
              </a>
              <a class="navbar-item">
                <i class="material-icons md-dark">face</i>
                Profile
              </a>
              <a class="navbar-item">
                <i class="material-icons md-dark" style="color: green;">perm_media</i>
                New Post
              </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <i class="material-icons md-dark">settings</i>
                Settings
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                    
                  Change Password
                  <!-- <i class="material-icons md-dark">padlock</i> -->
                </a>
                <a class="navbar-item">

                  Contact
                  <!-- <i class="material-icons md-dark">phone</i> -->
                </a>
                <a class="navbar-item">
                  Report an Issue
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    <i class="material-icons md-dark">logout</i>
                  Logout
                </a>
              </div>
            </div>
          </div>      
        </div>
      </nav>
  </body>
</html>