
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    </head>
    <style>
      .container{
        margin-left: 3rem;
      }
      .navbar{
        background-color: cadetblue;
        border-radius: 5px;
      }
      body{
        background-color: #cddead;
      }
      .navbar-start a{
        text-decoration: none;
      }
      a:hover{
        border-radius: 4px;
        color: purple;
      }
    </style>
  <body>
    
    <div class="container m-2 ml-5">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="" style="margin-left: 5px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" width="40" height="40">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'post' %}" >
                <i class="material-icons md-dark">home</i>
              Home
            </a>
<!--       
            <a class="navbar-item">
                <i class="material-icons md-dark">explore</i>
              Explore
            </a>
            
            <a class="navbar-item">
                <i class="material-icons md-dark">notifications</i>
                Notification
              </a>
              <a class="navbar-item">
                <i class="material-icons md-dark">mail</i>
                Inbox
              </a>
              <a class="navbar-item">
                <i class="material-icons md-dark">face</i>
                Profile
              </a> -->
              <a href="{% url 'postview' %}" class="navbar-item">
                <i class="material-icons md-dark" style="color: green;">perm_media</i>
                New Post
              </a>
              <a href=""class="navbar-item">
                <span style="color: lawngreen;font-size:large;font-weight: bold;">Hello, {{request.user}}</span>
              </a>
            
              <form class="navbar-form" role="search"  action="{% url 'search_results' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search here" name="author">
                  <div class="input-group-btn">
                    <button class="btn btn-danger" type="submit"><span class="material-icons">
                      search
                      </span>
                      </button>
                  </div>
                </div>
              </form>
            
                <a href="{% url 'logout' %}" class="navbar-item">
                    <i class="material-icons md-dark">logout</i>
                  Logout
                </a>
              
          </div>      
        </div>
      </nav>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function () {

      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
    
        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
    
            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
    
            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
    
          });
        });
      }
    
    });
</script>
  </body>
</html>